# Ignore local test files
wacc_examples
*.s

# Ignore language files
bin
src/antlr
./src/main/gen
./src/main/antlr/BasicLexer.tokens
# Ignore Java class files
*.class

# Gradle files:
.gradle
/build/
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache
# Ignore gradle outputs
daemon
native
wrapper/dists

# Ignore intellij files
*.iml
.idea
.DS_Store

# Ignore other junk files
*~
rules